{% extends 'base.html' %}

{% block title %} Change Password {% endblock %}

{% block content %}
    <main>
        <h2>Change Password</h2>
        <button><a href="{{url_for("users.get_profile", user_id=user.id)}}">Cancel</a></button>
        <form method="POST">
        {{ form.hidden_tag() }}
            <table>
                <tbody>
                    {% if current_user == user %}
                        <tr class ="allign-center">
                            <td><h3> {{ form.old_password.label }}</h3></td>
                            <td> {{ form.old_password }}</td>
                        </tr>
                        <tr class ="allign-center">
                            <td><h3>{{ form.new_password.label }}</h3></td>
                            <td>{{ form.new_password }}</td>
                        </tr>
                        <tr class ="allign-center">
                            <td><h3>{{ form.confirm_password.label }}</h3></td>
                            <td>{{ form.confirm_password }}</td>
                        </tr>
                    {% endif %}
                    {% if current_user != user %}
                        <tr class ="allign-center">
                            <td><h3>{{ form.new_password.label }}</h3></td>
                            <td>{{ form.new_password }}</td>
                        </tr>
                        <tr class ="allign-center">
                            <td><h3>{{ form.confirm_password.label }}</h3></td>
                            <td>{{ form.confirm_password }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <input type="submit"/>
        </form>
    </main>
{% endblock content %}