{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}

    <main>
        <h2>Courses</h2>
        {% if current_user.account_type == "MEMBER"%}
            <button><a href="{{url_for("courses.add_course")}}">Add A Course</a></button>
        {% endif %}
        <div id="courses">
            <table>
                <tbody>
                    <tr>
                        <th>Course ID</th><th>Course Title</th><th>Theory Hours</th><th>Lab Hours</th><th>Homework Hours</th><th>Total Hours</th>
                    </tr>
                    {% for course in courses %}
                        <tr>
                            <td class ="allign-center"><a href="{{url_for('courses.get_course', courseID=course.courseID)}}">{{course.courseID}}</a></td>
                            <td><h3>{{course.courseTitle}}</h3></td>
                            <td class ="allign-center">{{course.theoryHours}}</td>
                            <td class ="allign-center">{{course.labHours}}</td>
                            <td class ="allign-center">{{course.workHours}}</td>
                            <td class ="allign-center">{{(course.theoryHours+course.labHours)*15}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}

