{% extends 'base.html' %}

{% block content %}
    <main>
        <h2>Edit A Domain</h2>
        {% if current_user.account_type == "MEMBER"%}
        <button><a href="{{url_for("domains.delete_domain", domainID=domain.domainID)}}">Delete</a></button>
        <form method="POST">
            {{form.csrf_token }}
            <div id="competencies">
                <table>
                    <tbody>
                        <tr class ="allign-center">
                            <td class="inputs">{{form.domainName.label}} <br/> {{ form.domainName(value=domain.domainName) }}</td>
                        </tr>
                        <tr class="allign-center">
                            <td><div class="inputs">{{form.description.label}} <br/> {{ form.description() }}</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit">Save Changes</button>
        </form>

        {% if courses|length > 0 %}
            <h2>Courses In The Domain</h2>
            <div id="courses">
            {% for course in courses %}
                <table>
                    <tbody>
                        <tr>
                            <th>Course ID</th><th>Course Title</th><th>Theory Hours</th><th>Lab Hours</th><th>Homework Hours</th><th>Total Hours</th>
                        </tr>
                        <tr class ="allign-center">
                            <td><a href="{{url_for("courses.get_course", courseID=course.courseID)}}">{{course.courseID}}</a></td>
                            <td>{{course.courseTitle}}</td><td>{{course.theoryHours}}</td><td>{{course.labHours}}</td><td>{{course.workHours}}</td>
                            <td>{{(course.theoryHours+course.labHours)*15}}</td>
                        </tr>
                        <tr>
                            <td colspan="6">{{course.description}}</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
            </div>
        {% endif %}
        {% else %}
            <p>Access Denied
        {% endif %}
    </main>
{% endblock content %}

