{% extends 'base.html' %}

{% block title%}Term {{term.termID}}{% endblock %}

{% block content %}
    <main>
        <h2>Term</h2>
        {% if current_user.account_type == "MEMBER"%}
        <button><a href="{{url_for("terms.edit_term", termID=term.termID)}}">Edit</a></button>
        {% endif %}
        <div id="competencies">
            <table>
                <tbody>
                    <tr>
                        <th>Term</th><th>Semester</th>
                    </tr>
                    <tr class ="allign-center">
                        <td><h3><a href="{{url_for("terms.get_term", termID=term.termID)}}">Term {{term.termID}}</a></h3></td>
                        <td>{{term.termName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if courses|length > 0 %}
            <h2>Courses In Term</h2>
            <div id="courses">
                <table>
                    <tbody>
                        <tr>
                            <th>Course ID</th><th>Course Title</th><th>Theory Hours</th><th>Lab Hours</th><th>Homework Hours</th><th>Total Hours</th>
                        </tr>
                        {% for course in courses %}
                            <tr>
                                <td class ="allign-center"><a href="{{url_for("courses.get_course", courseID=course.courseID)}}">{{course.courseID}}</a></td>
                                <td><h3>{{course.courseTitle}}</h3></td>
                                <td class ="allign-center">{{course.theoryHours}}</td>
                                <td class ="allign-center">{{course.labHours}}</td>
                                <td class ="allign-center">{{course.workHours}}</td>
                                <td class ="allign-center">{{(course.theoryHours+course.labHours)*15}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </main>
{% endblock content %}

